.gn-checkbox {
  position: relative;

  width: 17px;
  height: 17px;
  margin-right: .75rem;

  cursor: pointer;
  appearance: none;
  outline: 0;
  outline-color: transparent;

  &:focus,
  &:active {
    outline: 0;
    outline-color: transparent;
  }

  &:before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    border: 2px solid lightgrey;

    transition: all 0.3s ease-in-out;
  }

  &:checked:before {
    height: 50%;

    transform: rotate(-45deg);

    border-top-style: none;
    border-right-style: none;
    border-color: $brand-primary;
  }
}
