body {
  letter-spacing: .4px;
  background-color: $brand-light-grey;
  color: grey;
}

.gn-top-bar {
  background-color: $brand-primary;
  color: white;
  height: 55px;
  line-height:55px;
  padding: 0 30px;

  h1 {
    font-size: 19px;
    font-weight: normal;
    line-height: inherit;
    margin: 0;
  }

  &__buttons {
    text-align: right;

    .btn-default {
      background-color: $brand-green;
      border: none;
      border-radius: 3px;
      box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
      color: white;
      font-size: 13px;
      letter-spacing: inherit;
      text-transform: uppercase;
      padding-top: 9px;
      padding-bottom: 9px;


      &:hover {
        box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.4);
      }

      &:active {
        background-color: $brand-green;
        color: white;
      }

      .gn-icon {
        font-size: 15px;
        padding: 0 10px 0 0;
      }
    }
  }
}

.gn-main {
  background-color: white;
  margin-top: 50px;
  padding: 0 15px;
  min-height: calc(100vh - 155px);
  margin-bottom: 40px;
}

.gn-search {
  background-color: white;
  border-bottom: 4px solid $brand-light-grey;
  height: 55px;
  line-height: 55px;
  padding: 0;

  .btn-default {
    border: none;
    border-radius: 0;

    &:hover {
      background-color: white;
    }
    &:focus {
      outline: none;
    }
  }

  .form-control {
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding-top: 24px;;
  }
}

.gn-folder-path {
  background-color: white;
  border-bottom: 4px solid $brand-light-grey;
  position: relative;

  .breadcrumb {
    background-color: white;
    font-size: 18px;
    height: 55px;
    line-height: 55px;
    margin: 0;
    padding: 0;
    padding-left: 15px;

    a {
      color: grey;

      &:hover {
        text-decoration: none;
      }
    }

    & > li + li:before {
      content: "\e258";
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      padding: 0 11px 0 8px;;
    }
  }
}

.gn-file-order {
  background-color: white;
  border-bottom: 4px solid $brand-light-grey;
  height: 55px;
  text-transform: uppercase;

  &__select-all {
    padding: 0 15px;
    display: inline-block;

    input {
      margin-top: 10px;
    }
  }

  &__carets {
    cursor: pointer;
    display: inline-block;

    .glyphicon {
      display: block;
      font-size: 10px;
      line-height: 8px;
      top: 4px;
    }
  }

  h3 {
    display: inline-block;
    font-size: 11px;
    line-height: 55px;
    margin: 0;
  }
}

.gn-files {
  &__row {
    background-color: white;
    border-bottom: 2px solid $brand-light-grey;
    height: 55px;
    line-height: 55px;

    &__select {
      display: inline-block;
      margin: 0 15px;

      input {
        margin-top: 11px;
      }
    }

    &__name {
      display: inline-block;

      .gn-icon {
        font-size: 24px;
        top: 7px;
        padding-right: 7px;
      }
    }

    &__initials {
      height: 30px;
      width: 30px;
      background-color: grey;
      border-radius: 50%;
      bottom: 10px;
      color: white;
      display: inline-block;
      line-height: 30px;
      margin-right: 10px;
      text-align: center;
      vertical-align:middle;;
    }

    &.gn-delete-file {
      opacity: 0;
      transition: opacity .3s;
    }

  }
}

.gn-files-nav {
  height: 55px;
  line-height: 55px;

  .gn-delete {
    background-color: $brand-red;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
    color: white;
    font-size: 13px;
    letter-spacing: inherit;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 9px;

    &:active {
      background-color: $brand-red;
      color: white;
    }


  }

  .btn-default.dropdown-toggle {
    border: none;
    border-radius: 3px;;
    height: 40px;
    padding: 0 10px;
    color: grey;
  }
  .btn-group.open .dropdown-toggle {
    box-shadow: none;
    background-color: white;
    &:hover {
      background-color: $brand-light-grey;
    }
    &:focus {
      box-shadow: none;
      background-color: $brand-light-grey;

    }
  }

  .dropdown-menu {
    line-height: 30px;
    text-align: center;
    min-width: 100px;
    border: none;
    border-radius: 0;

    li:hover {
      background-color: lightgrey;
    }
  }

  .caret {
    margin-left: 5px;
  }


  &__page {
    display: inline-block;
  }

  &__rows {
    display: inline-block;
    margin-right: 10px;

  }

  &__counter {
    display: inline-block;
    margin-right: 10px;

  }

  &__arrows {
    display: inline-block;
    float: right;
    padding-right: 15px;
    color: lightgrey;
    font-size: 15px;

    .gn-active {
      color: grey;
      cursor: pointer;
    }

  }
}

.gn-modal {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);

  &__content {
    background-color: white;
    height: 250px;
    width: 500px;
    margin: 0 auto;
    padding: 15px;
    position: relative;
    top: calc(50vh - 125px);


    p {
      font-size: 20px;
      padding-top: 56px;
      text-align: center;
    }
  }

  &__close-button {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &__answer {
    background-color: grey;
    bottom: 0;
    left: 0;
    color: white;
    cursor: pointer;
    height: 30%;
    width: 50%;
    padding-top: 30px;
    position: absolute;
    text-align: center;

    &--yes {
      background-color: $brand-red;
      left: auto;
      right: 0;
    }
  }
}
