@media screen and (max-width: $screen-md)  {

  .gn-mob-hide {
    display: none;
  }

}

@media screen and (max-width: $screen-xs)  {

  .gn-top-bar {
    height: 110px;
  }
  .gn-main {
    margin-top: 5px;
  }

  .gn-xs-hide {
    display: none;
  }

  .gn-modal__content {
    width: 90vw;
  }

}
